<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Контакт для ВКонтакте</string>
		<key>appstore_id</key>
		<string>1090754155</string>
		<key>description</key>
		<string>Лучший клиент для ВКонтакте. Бесплатно.</string>
		<key>account</key>
		<string>semenov</string>
		<key>bundleId</key>
		<string>com.maximsemenov.kontact</string>
		<key>in_review</key>
		<false/>
		<key>available</key>
		<true/>
		<key>show_in_kontakt</key>
		<true/>
		<key>url</key>
		<string>https://appmetrica.yandex.com/serve/96526752800634863</string>
	</dict>
  	<dict>
		<key>title</key>
		<string>Гороскоп Любви, Эротики и Секса 2016</string>
		<key>appstore_id</key>
		<string>639353704</string>
		<key>description</key>
		<string>Только 100% бесплатная астрология СЕКСА, ЛЮБВИ и ОТНОШЕНИЙ на 2016 год</string>
		<key>account</key>
		<string>arpaplus</string>
		<key>bundleId</key>
		<string>com.totemapps.com.totemapps.erotichoroscope</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
  	<dict>
		<key>title</key>
		<string>Гороскоп любовной совместимости Святого Валентина</string>
		<key>appstore_id</key>
		<string>503088012</string>
		<key>description</key>
		<string>Узнай, насколько вы совместимы со своим избранником!</string>
		<key>account</key>
		<string>arpaplus</string>
		<key>bundleId</key>
		<string>swdrom.com</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
  	<dict>
		<key>title</key>
		<string>Тройной Нуар: Криминальный пазл</string>
		<key>appstore_id</key>
		<string>1138683314</string>
		<key>description</key>
		<string>Тройной Нуар - это увлекательнейшая головоломка в стиле Чикаго 1930</string>
		<key>account</key>
		<string>arpaplus</string>
		<key>bundleId</key>
		<string>com.arpaplus.triple.noir.crimepuzzle</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
  	<dict>
		<key>title</key>
		<string>Хроники Скары: Поиск Предметов!</string>
		<key>appstore_id</key>
		<string>1128725208</string>
		<key>description</key>
		<string>Любите искать скрытые предметы? Тогда эта игра для вас!</string>
		<key>account</key>
		<string>arpaplus</string>
		<key>bundleId</key>
		<string>com.find.hidden.objects.chronicles.scara</string>
		<key>in_review</key>
		<false/>
		<key>show_in_kontakt</key>
		<true/>
		<key>available</key>
		<true/>
	</dict>
</array>
</plist>
